feature_list:
  - Open
  - High
  - Low
  - Close
  - Volume
  - SMA20
  - SMA50
  - RSI14
  - MACD
  - MACD_signal
  - MACD_hist
  - ADX
  - OBV
  - A_D
  - ATR
  - Boll_MA
  - Boll_Upper
  - Boll_Lower
  - Boll_Bandwidth
  - Crude_OIL_WTI_Futures_Historical_Data_ret
  - India_VIX_Historical_Data_ret
  - NASDAQ_Composite_Historical_Data_ret
  - Nifty_50_Historical_Data_ret
  - S&P_500_Historical_Data_(1)_ret
  - USD_INR_Historical_Data_ret
